### Pandas

In [1]:
import pandas as pd
# version check
pd.__version__

'0.25.1'

- series -->1d array
- DataFrame-->2d array
- Pannel-->3d array

In [2]:
pd.Series([56,12,49])

0    56
1    12
2    49
dtype: int64

In [3]:
pd.Series([56,12,49],index=['raj','hari','sam'])

raj     56
hari    12
sam     49
dtype: int64

In [4]:
pd.Series([56,12,49],index=[0,1,2])

0    56
1    12
2    49
dtype: int64

In [5]:
import numpy as np
np.array([56,12,49])

array([56, 12, 49])

In [6]:
s = pd.Series([56,12,49],index=['raj','hari','sam'])
print(s[0],s['raj'])

56 56

Try to convert a tuple and numpy array to series

In [7]:
d ={'raj':56,'hari':12,'sam':49}
pd.Series(d)

raj     56
hari    12
sam     49
dtype: int64

To access the indices of a series use the index of attribute

In [8]:
s.index

Index(['raj', 'hari', 'sam'], dtype='object')

### Dataframe

In [9]:
d2 = {'namae':['hari','raju','sita'],
     'lamguage':['py','r','c'],
     }
pd.DataFrame(d2)

  namae lamguage
0  hari       py
1  raju        r
2  sita        c

In [10]:
help(pd.DataFrame.where)

Help on function where in module pandas.core.generic:

where(self, cond, other=nan, inplace=False, axis=None, level=None, errors='raise', try_cast=False)
    Replace values where the condition is False.

    Parameters
    ----------
    cond : boolean Series/DataFrame, array-like, or callable
        Where `cond` is True, keep the original value. Where
        False, replace with corresponding value from `other`.
        If `cond` is callable, it is computed on the Series/DataFrame and
        should return boolean Series/DataFrame or array. The callable must
        not change input Series/DataFrame (though pandas doesn't check it).

        .. versionadded:: 0.18.1
            A callable can be used as cond.

    other : scalar, Series/DataFrame, or callable
        Entries where `cond` is False are replaced with
        corresponding value from `other`.
        If other is callable, it is computed on the Series/DataFrame and
        should return scalar or Series/DataFrame. The callable must not
        change input Series/DataFrame (though pandas doesn't check it).

        .. versionadded:: 0.18.1
            A callable can be used as other.

    inplace : bool, default False
        Whether to perform the operation in place on the data.
    axis : int, default None
        Alignment axis if needed.
    level : int, default None
        Alignment level if needed.
    errors : str, {'raise', 'ignore'}, default 'raise'
        Note that currently this parameter won't affect
        the results and will always coerce to a suitable dtype.

        - 'raise' : allow exceptions to be raised.
        - 'ignore' : suppress exceptions. On error return original object.

    try_cast : bool, default False
        Try to cast the result back to the input type (if possible).

    Returns
    -------
    Same type as caller

    See Also
    --------
    :func:`DataFrame.mask` : Return an object of same shape as
        self.

    Notes
    -----
    The where method is an application of the if-then idiom. For each
    element in the calling DataFrame, if ``cond`` is ``True`` the
    element is used; otherwise the corresponding element from the DataFrame
    ``other`` is used.

    The signature for :func:`DataFrame.where` differs from
    :func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
    ``np.where(m, df1, df2)``.

    For further details and examples see the ``where`` documentation in
    :ref:`indexing <indexing.where_mask>`.

    Examples
    --------
    >>> s = pd.Series(range(5))
    >>> s.where(s > 0)
    0    NaN
    1    1.0
    2    2.0
    3    3.0
    4    4.0
    dtype: float64

    >>> s.mask(s > 0)
    0    0.0
    1    NaN
    2    NaN
    3    NaN
    4    NaN
    dtype: float64

    >>> s.where(s > 1, 10)
    0    10
    1    10
    2    2
    3    3
    4    4
    dtype: int64

    >>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
    >>> df
       A  B
    0  0  1
    1  2  3
    2  4  5
    3  6  7
    4  8  9
    >>> m = df % 3 == 0
    >>> df.where(m, -df)
       A  B
    0  0 -1
    1 -2  3
    2 -4 -5
    3  6 -7
    4 -8  9
    >>> df.where(m, -df) == np.where(m, df, -df)
          A     B
    0  True  True
    1  True  True
    2  True  True
    3  True  True
    4  True  True
    >>> df.where(m, -df) == df.mask(~m, -df)
          A     B
    0  True  True
    1  True  True
    2  True  True
    3  True  True
    4  True  True

In [11]:
pd.DataFrame(d2,index=[423,415,472])

    namae lamguage
423  hari       py
415  raju        r
472  sita        c

In [12]:
data= pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [13]:
data.head()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [14]:
data.shape

(26, 6)

In [15]:
data.shape[0]

26

In [16]:
data.tail()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [17]:
data.sample()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002

In [18]:
data.size

156

In [19]:
type(data[['Name','MailId']])

pandas.core.frame.DataFrame

In [20]:
data['MailId']

0     sainagarajusakhamuri99@gmail.com
1               deepakrella9@gmail.com
2                 chaitu1495@gmail.com
3              srikanthbisai@gmail.com
4            himajacherukuri@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
8              bjaganmohan24@gmail.com
9       parameshkarumuri1997@gmail.com
10      ravindrakumarroyal12@gmail.com
11       bhargavperumalla123@gmail.com
12           kavyathatavarti@gmail.com
13             harishbandi12@gmail.com
14         bhavanisankar5758@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
17              tvnagajyothi@gmail.com
18           p.anandalakshmi@gmail.com
19             saikamavarapu@gmail.com
20               ali95asghar@gmail.com
21               121822502016@gitam.in
22         duppatijayanaveen@gmail.com
23       vikramsabbavarapu60@gmail.com
24         saitejajaladi2000@gmail.com
25               saikumarm64@gmail.com
Name: MailId, dtype: object

In [21]:
data.columns

Index(['Timestamp', 'Name', 'MailId', 'Branch', 'Qualification', 'RollNumber'], dtype='object')

In [22]:
# to get the row labels
data.index

RangeIndex(start=0, stop=26, step=1)

In [23]:
# to check the dtypes of all the columns
#output type-Series
data.dtypes

Timestamp        object
Name             object
MailId           object
Branch           object
Qualification    object
RollNumber       object
dtype: object

In [24]:
data.isnull()
# output type - DataFrame

    Timestamp   Name  MailId  Branch  Qualification  RollNumber
0       False  False   False   False          False       False
1       False  False   False   False          False       False
2       False  False   False   False          False       False
3       False  False   False   False          False       False
4       False  False   False   False          False       False
5       False  False   False   False          False       False
6       False  False   False   False          False       False
7       False  False   False   False          False       False
8       False  False   False   False          False       False
9       False  False   False   False          False       False
10      False  False   False   False          False       False
11      False  False   False   False          False       False
12      False  False   False   False          False       False
13      False  False   False   False          False       False
14      False  False   False   False          False       False
15      False  False   False   False          False       False
16      False  False   False   False          False       False
17      False  False   False   False          False       False
18      False  False   False   False          False       False
19      False  False   False   False          False       False
20      False  False   False   False          False       False
21      False  False   False   False          False       False
22      False  False   False   False          False       False
23      False  False   False   False          False       False
24      False  False   False   False          False       False
25      False  False   False   False          False       False

In [25]:
data.isnull().sum()
# Missing the

Timestamp        0
Name             0
MailId           0
Branch           0
Qualification    0
RollNumber       0
dtype: int64

In [26]:
print(True+False)
print(True+True)
print(False+True)
print(False+False)

1
2
1
0

In [28]:
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [29]:
data.isnull().sum().sum()

0

In [30]:
tsv_data= pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.tsv','\t')
tsv_data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [31]:
excel_data = pd.read_excel('C://Users/Ravi/Downloads/Student Data ML Jan (Responses).xlsx')
excel_data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,2020-01-30 15:00:06.734,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,2020-01-30 15:00:19.555,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,2020-01-30 15:00:23.470,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,2020-01-30 15:00:25.434,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,2020-01-30 15:00:27.759,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,2020-01-30 15:00:28.333,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,2020-01-30 15:00:32.644,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,2020-01-30 15:00:36.728,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,2020-01-30 15:00:39.347,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,2020-01-30 15:00:40.676,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,2020-01-30 15:00:42.915,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,2020-01-30 15:00:44.077,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,2020-01-30 15:00:44.555,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,2020-01-30 15:01:10.442,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,2020-01-30 15:01:15.898,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,2020-01-30 15:01:24.277,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,2020-01-30 15:01:34.607,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,2020-01-30 15:01:49.380,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,2020-01-30 15:01:50.011,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,2020-01-30 15:01:55.797,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,2020-01-30 15:02:03.750,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,2020-01-30 15:02:40.644,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,2020-01-30 15:02:49.025,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,2020-01-30 15:02:58.779,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,2020-01-30 15:04:10.387,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,2020-01-30 15:07:37.611,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [32]:
excel_data.head()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,2020-01-30 15:00:06.734,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,2020-01-30 15:00:19.555,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,2020-01-30 15:00:23.470,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,2020-01-30 15:00:25.434,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,2020-01-30 15:00:27.759,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

Slicing

In [33]:
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [1]:
data[0]

NameError: name 'data' is not defined

- position based indexing--->iloc
- label based indexing

In [35]:
data.iloc[0]

Timestamp                     30/01/2020 15:00:07
Name                                Sai Naga Raju
MailId           sainagarajusakhamuri99@gmail.com
Branch                                         IT
Qualification                              B.Tech
RollNumber                             161FA07039
Name: 0, dtype: object

In [36]:
data.iloc[0:1]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039

In [37]:
data.iloc[0:6:2]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [38]:
data.iloc[0:6:2,1:3]

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [39]:
data.iloc[-1]

Timestamp           30/01/2020 15:07:38
Name                 SAIKUMAR MANIKONDA
MailId            saikumarm64@gmail.com
Branch           Automobile Engineering
Qualification                       B.E
RollNumber                 245112769310
Name: 25, dtype: object

In [40]:
data.iloc[-2:,-2:]

   Qualification    RollNumber
24        B.TECH    161FA07025
25           B.E  245112769310

In [41]:
#rows(7,11,15)
#columns()last 3
data.iloc[7:16:4,-3]

7     Information Technology
11          Computer Science
15                       ECE
Name: Branch, dtype: object

In [42]:
data.loc[0]

Timestamp                     30/01/2020 15:00:07
Name                                Sai Naga Raju
MailId           sainagarajusakhamuri99@gmail.com
Branch                                         IT
Qualification                              B.Tech
RollNumber                             161FA07039
Name: 0, dtype: object

In [43]:
data.loc[0:0]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039

In [44]:
data.loc[0:15:3]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461

In [45]:
data.loc[0:4:2,'Name':'MailId']

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [46]:
data.loc[0:4:2,'Name':'MailId']

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [47]:
data.loc[25:24:-1,'Name':'RollNumber']

,Name,MailId,Branch,Qualification,RollNumber
25,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310
24,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025

In [59]:
b='@'
for i in data['MailId']:
    for j in i:
        if j == b :
            print(i)

sainagarajusakhamuri99@gmail.com
deepakrella9@gmail.com
chaitu1495@gmail.com
srikanthbisai@gmail.com
himajacherukuri@gmail.com
geethamuppuri@gmail.com
muvvanikhita@gmail.com
pavandasari226@gmail.com
bjaganmohan24@gmail.com
parameshkarumuri1997@gmail.com
ravindrakumarroyal12@gmail.com
bhargavperumalla123@gmail.com
kavyathatavarti@gmail.com
harishbandi12@gmail.com
bhavanisankar5758@gmail.com
devendra108148@gmail.com
ramya.marripoodi@gmail.com
tvnagajyothi@gmail.com
p.anandalakshmi@gmail.com
saikamavarapu@gmail.com
ali95asghar@gmail.com
121822502016@gitam.in
duppatijayanaveen@gmail.com
vikramsabbavarapu60@gmail.com
saitejajaladi2000@gmail.com
saikumarm64@gmail.com